.releasesNav{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
  .subTitle{
    margin-right: 20px;
    color: #c6c6c6;
  }
  .releasesNavBtn{
    cursor: pointer;
    background: #282828;
    border-radius: 25px;
    color: #c6c6c6;
    float: left;
    font-weight: 500;
    margin: 0 20px 0 0;
    padding: 10px 20px;
    text-align: center;
    width: 110px;
    transition: .5s;
    border: none;
    &:hover{
      background-color: rebeccapurple;
      color: white;
    }
  }
}
.releasesInner{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}