@import "src/scss/vars";
.releases{
  .mainTitle {
    margin-bottom: 20px;
  }
  .releasesInner{
    display: inline-grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
}