@import "src/scss/vars";
.releases{
  .mainTitle {
    margin-bottom: 20px;
    margin-right: 20px;
    color: white;
    text-align: center;
    .subTitle{

    }
  }
  .releasesInner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}