@import "src/scss/global";

.search{
  text-align: left;
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  .submitBtn {
    @extend %buttonStyles;
    background-color: #282828;
  }
}