@import './src/scss/reset';
@import './src/scss/fonts';
@import './src/scss/global';
@import './src/scss/vars';

.app {
  display: grid;
  grid-template-columns: 280px 10fr;
  grid-template-areas:
          "header search"
          "menu c";
}

.appWrapperContent{
  grid-area: c;
  background-color: #1f1f1f;
  padding: 50px 70px;
}
