@import "src/scss/global";

.movieItem{
  position: relative;
  margin-right: 45px;
  margin-bottom: 35px;
  width: 250px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: .6s;
  cursor: pointer;
  .span{
    position: absolute;
    opacity: 0;
    top: 35%;
    left: 35%;
  }
  .watchBtn{
    @extend %buttonStyles;
    padding: 0;
    background-color: transparent;
    border: none;
    margin: 0;
    &:hover{
      background-color: transparent;
      color: rebeccapurple;
    }
  }
  .popBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 3;
    transition: .5s;
  }
  &:hover{
    .poster{
      &:before{
        opacity: .4;
      }
    }
    .span{
      opacity: 1;
      z-index: 4;
    }
    .filmSubTitle{
      color: rebeccapurple;
    }
  }

  .voteAverage {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    color: #c6c6c6;
    transform: translate(50%, 50%);
    background-color: #8300ff;
    border-radius: 10px;
    padding: 10px;
  }
  .poster{
    display: block;
    max-height: 375px;
    position: relative;
    z-index: 3;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #c6c6c6;
      z-index: 2;
      transition: 0.5s all;
      opacity: 0;
    }
    img {
      width: 100%;
    }
    .btn{
      position: relative;
      z-index: 3;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s all
    }
  }
  .filmSubTitle {
    color: #c6c6c6;
    transition: .5s;
  }
  .filmTitle{
    color: #fff;
  }
}