.menu{
  grid-area: menu;
  width: 100%;
  min-height: 100vh;
  background-color: #4E4950;
}
.menuList{
  margin-top: 50px;
  .menuListItem{
    width: 100%;
    a{
      color: #000;
      display: block;
      padding: 10px 15px;
    }
    .active{
      background-color: #3D3A3E;
      display: block;
      color: #fff
    }
  }
}