.menu{
  grid-area: menu;
  max-width: 280px;
  min-width: 280px;
  min-height: 100vh;
  background-color: #454545;
}
.menuList{
  text-align: center;
  margin-top: 50px;
  .menuListItem{
    width: 100%;
    position: relative;
    a{
      color: #000;
      display: block;
      padding: 10px 15px;
    }
    .listIcon{
      display: none;
      margin-right: 15px;
      position: absolute;
      right: 0;
      top: 25%;
    }
    .count{
      color: red;
      position: absolute;
      top: 0;
      margin-left: 10px;

    }
    .active{
      background-color: #1f1f1f;
      display: block;
      color: #fff;
      .listIcon{
        display: block;
      }
    }
  }
}